@font-face 
{
    font-family: 'big noodle titling';
    src: url("./fonts/big_noodle_titling.ttf");
}

body
{
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1
{
    font-size: larger;
    font-style: italic;
    font-weight: normal;
    font-family: 'big noodle titling';
    color: red;
    margin: 0px;
}

#container
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid red;
    height:576px;     
    width:1024px;  
}

#start-Screen
{
    display: block;
    text-align: center;
}

#game-Canvas 
{
    display: none;
    border: 3px solid cyan;
}

#gameover-Screen
{
    display: none;
    text-align: center;
}

.button-style
{
    position: relative;
    display: block;
    background-color: red;
    border-radius: 5px;
    border-color: brown;
    font-style: italic;
    font-weight: normal;
    font-family: 'big noodle titling';
    width: 100px;
    height: 30px;
    text-align: center;
    margin: 10px;
}